---
import Layout from "@layouts/Layout.astro";
import ProductCard from "@components/ProductCard.astro";
import Section from "@components/Section.astro";
import { supabase } from "@lib/supabase";

type Product = {
  cod_producto: number;
  name: string;
  description: string;
  price: number;
  image: string;
  linkPago: string;
};
let { data: productos, error } = await supabase.from("productos").select("*");

if (error) {
  console.error("Error al obtener los productos:", error);
  productos = [];
}

if (!productos) {
  productos = [];
}
---

<Layout>
  <Section>
    {
      productos.length > 0 ? (
        productos.map((producto: Product) => (
          <ProductCard
            name={producto.name}
            description={producto.description}
            price={producto.price}
            image={producto.image}
            linkPago={producto.linkPago}
          />
        ))
      ) : (
        <p>No hay productos actualmente</p>
      )
    }
  </Section>
</Layout>
