---
import Layout from "@layouts/Layout.astro";
import ProductCard from "@components/ProductCard.astro";
import Section from "@components/Section.astro";
import products from "@data/productos.json";

const data = products;

type Product = {
  cod_producto: number;
  nombre: string;
  descripcion: string;
  precio: number;
  imagen: string;
  linkPago: string;
};

const productos: Product[] = data.Productos;
---

<Layout>
  <Section>
    {
      productos.map((producto) => (
        <ProductCard
          name={producto.nombre}
          description={producto.descripcion}
          price={producto.precio.toFixed(2)}
          image={producto.imagen}
          linkPago={producto.linkPago}
        />
      ))
    }
  </Section>
</Layout>
